
# __pycache__/ (파이썬이 자동으로 생성하는 캐시 파일 디렉토리)
__pycache__/
*.pyc

# venv/
.venv/

# .vscode/
.vscode/

# requirements.txt
requirements.txt

# .DS_Store (macOS에서 생성되는 불필요한 파일)
.DS_Store 

# .env (환경 변수 파일)
.env